*{
  font-family: 'Poppins', sans-serif;
}

.auth-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.auth-div .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 65%;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
}

.auth-div ::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.auth-div .form button {
  align-self: flex-end;
}

.auth-div .flex-column > label {
  color: #151717;
  font-weight: 600;
}

.auth-div .inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.auth-div .input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.auth-div .input:focus {
  outline: none;
}

.auth-div .inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.auth-div .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.auth-div .flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.auth-div .span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.auth-div .button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.auth-div .p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.auth-div .btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.auth-div .btn:hover {
  border: 1px solid #2d79f3;
}
.auth-div .show-pwd-div:hover {
  cursor: pointer;
}
.auth-div .show-pwd-div {
  position: relative;
}
.auth-div .show-pwd-div i {
  position: absolute;
  bottom: -8px;
  right: 15px;
  font-size: 20px;
}
.auth-div .show-pwd-div i#pwdClose {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  color: #ddd;
  padding: 10px;
  border-bottom: 1px solid #666;
}
button:focus {
  outline: none;
}
aside {
  background: #1a1d23;
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
  left: -250px;
  top: 0;
  transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
  display: block;
}
aside.close {
  left: 0;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
  
}
nav a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px;
}
nav a:hover {
  color: red;
}
aside button {
  border: none;
  background: none;
  position: absolute;
  right: -40px;
  top: 7px;
  font-size: 30px;
  transform: rotate(90deg);
  display: inline-block;
  cursor: pointer;
}

/* Header
---------------*/

header.dashboard-header {
  .card {
    --main-color: #000;
    --submain-color: #78858f;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;
    width: 207px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
}

  .card__img {
    height: 192px;
    width: 100%;
  }

  .card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }

  .card__wrapper {
    display: grid;
}

  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }

  .card__avatar svg {
    width: 100px;
    height: 100px;
  }

  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }

  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }

  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }

  .card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }

  .card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }

  .card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }
}
.bell-noti {
  .button {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
  }

  .bell {
    width: 18px;
  }

  .bell path {
    fill: white;
  }

  .button:hover {
    background-color: rgb(56, 56, 56);
  }

  .button:hover .bell {
    animation: bellRing 0.9s both;
  }

  /* bell ringing animation keyframes*/

  .button:active {
    transform: scale(0.8);
  }
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}
.user_profile_icon {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  color: #fff;
}
.user_profile_icon:hover svg.user_icon {
  animation: bellRing 0.9s both;
}
.user_profile_icon svg.user_icon {
  width: 25px;
}
.user_profile_icon .svg-icon {
  width: 1em;
  height: 1em;
}

.user_profile_icon .svg-icon path,
.user_profile_icon .svg-icon polygon,
.user_profile_icon .svg-icon rect {
  fill: #4691f6;
}

.user_profile_icon .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.user_profile_icon path {
  fill: #fff;
  stroke: white;
  stroke-width: 0.8;
}
header.dashboard-header .text-right.user_div {
  position: relative;
}
header.dashboard-header div#profile_card {
  position: absolute;
  right: 0;
}

.ship_stat {
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  h2 {
    font-size: 25px ;
    font-weight: 700;
    margin-top: 20px;
  }

  p {
    font-size: 20px;
    color: #DB5151;
  }

  img {
    width: 50%;
  }
}

ul {
  list-style-type: none;
}

