@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

.thm-clr {
  color: #ff6262 !important;
}
.thm-bg-clr {
  background-color: #ff6262 !important;
}

.auth-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  flex-direction: column;
  border-radius: 12px;
}

.auth-div img {
  width: 40%;
}

.auth-div .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 65%;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
}

.auth-div ::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.auth-div .form button {
  align-self: flex-end;
}

.auth-div .flex-column > label {
  color: #151717;
  font-weight: 600;
}

.auth-div .inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.auth-div .input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.auth-div .input:focus {
  outline: none;
}

.auth-div .inputForm:focus-within {
  border: 1.5px solid #f32d2d;
}

.auth-div .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.auth-div .flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.auth-div .span {
  font-size: 14px;
  margin-left: 5px;
  color: #e75555;
  font-weight: 500;
  cursor: pointer;
}

.auth-div .button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.auth-div .p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.auth-div .btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.auth-div .btn:hover {
  border: 1px solid #2d79f3;
}
.auth-div .show-pwd-div:hover {
  cursor: pointer;
}
.auth-div .show-pwd-div {
  position: relative;
}
.auth-div .show-pwd-div i {
  position: absolute;
  bottom: -8px;
  right: 15px;
  font-size: 20px;
}
.auth-div .show-pwd-div i#pwdClose {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  color: #ddd;
  padding: 10px;
}
button:focus {
  outline: none;
}

/* Header
---------------*/

header.dashboard-header {
  .card {
    --main-color: #000;
    --submain-color: #78858f;
    --bg-color: #fff;
    position: relative;
    width: auto;
    height: 200px;
    border-radius: 20px;
    background: var(--bg-color);
    text-align: center;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }

  .card__img {
    height: 192px;
    width: 100%;
  }

  .card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }

  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }

  .card__avatar svg {
    width: 100px;
    height: 100px;
  }

  .card__title {
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }

  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }

  .card__btn {
    margin-top: 15px;
    height: 100%;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    padding: 0 22px;
  }

  .card__btn:hover {
    background: #e75555;
    color: var(--bg-color);
  }
}
.bell-noti {
  .button {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
  }

  .bell {
    width: 18px;
  }

  .bell path {
    fill: white;
  }

  .button:hover {
    background-color: rgb(56, 56, 56);
  }

  .button:hover .bell {
    animation: bellRing 0.9s both;
  }

  /* bell ringing animation keyframes*/

  .button:active {
    transform: scale(0.8);
  }
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}
.user_profile_icon {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  color: #fff;
}
.user_profile_icon:hover svg.user_icon {
  animation: bellRing 0.9s both;
}
.user_profile_icon svg.user_icon {
  width: 25px;
}
.user_profile_icon .svg-icon {
  width: 1em;
  height: 1em;
}

.user_profile_icon .svg-icon path,
.user_profile_icon .svg-icon polygon,
.user_profile_icon .svg-icon rect {
  fill: #4691f6;
}

.user_profile_icon .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.user_profile_icon path {
  fill: #fff;
  stroke: white;
  stroke-width: 0.8;
}
header.dashboard-header .text-right.user_div {
  position: relative;
}
header.dashboard-header div#profile_card {
  position: absolute;
  right: 0;
}

.ship_stat {
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.ship_stat h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}

.ship_stat p {
  font-size: 20px;
  color: #db5151;
}

.ship_stat img {
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

aside {
  background: white; /* Red theme */
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
  left: -250px;
  top: 0;
  transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
  display: block;
}

aside.close {
  overflow: hidden;
  left: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.9,  0,  1,  1);
}
aside img {
  width: 100%;
  padding: 11px;
  background-color: #d1181e;
}

/* Animated Hover Effect */
/* Sliding Text on Hover */
nav a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

nav a {
  transition: all linear 0.3s;
}
/* nav > ul.dropdown-main > li:hover{
  background-color: #d1181e;
}
nav > ul.dropdown-inner > li:hover{
  background-color: #d1181e;
} */
aside.close nav > ul > li:hover > a {
  cursor: pointer;
  color: #fff !important;
}
.active-sidenav {
  background-color: #d1181e;
  color: #fff;
}
i.rotate {
  transform: rotate(90deg);
}

aside.close nav > ul > li:hover > a {
  background-color: #d1181e;
}
aside.close > nav > ul.dropdown-inner > li:hover > a {
  color: #d1181e !important;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-ptkaw2-MuiDataGrid-root {
  background-color: #fff !important;
}
aside.close ul li {
  border-bottom: 1px solid #e5e5e5;
}

aside button {
  border: none;
  background: none;
  position: absolute;
  right: -40px;
  top: 7px;
  font-size: 30px;
  transform: rotate(90deg);
  display: inline-block;
  cursor: pointer;
}

nav li {
  transition: 0.3s;
}
.custom-button {
  cursor: pointer;
  position: relative;
  padding: 6px 40px;
  font-size: 18px;
  color: #db5151;
  border: 2px solid #db5151;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.custom-button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #f7afaf;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.custom-button:hover::before {
  scale: 3;
}

.custom-button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px #f7afaf;
}

.custom-button:active {
  scale: 1;
}

.custom-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: rgb(231, 85, 85) !important;
}

.MuiDataGrid-cell {
  outline-color: rgb(231, 85, 85) !important;
}
.css-t3ipsp-control:focus,
.css-t3ipsp-control:hover,
.css-13cymwt-control:focus,
.css-13cymwt-control:hover {
  border-color: rgb(231, 85, 85) !important;
  box-shadow: 0 0 0 1px rgb(231, 85, 85) !important;
  outline-color: rgb(231, 85, 85) !important;
}
.notification-container {
  position: relative;
}

.notification-number {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #e75555;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

form h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  color: #ff6262;
}

.form-input {
  width: 100%;
  border-radius: 0.375rem; /* Corresponds to rounded-md in Tailwind */
  border: 1px solid #cbcbcb;
  padding-top: 0.375rem; /* Corresponds to py-1.5 in Tailwind */
  padding-bottom: 0.375rem; /* Corresponds to py-1.5 in Tailwind */
  color: #1a202c; /* Corresponds to text-gray-900 in Tailwind */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* Corresponds to shadow-sm in Tailwind */
  box-sizing: border-box;
  outline: none;

  font-size: 0.875rem; /* Corresponds to sm:text-sm in Tailwind */
  line-height: 1.5; /* Corresponds to sm:leading-6 in Tailwind */
  padding-left: 10px;
  padding-right: 10px;
}

.form-input::placeholder {
  color: #9ca3af;
}

.form-input:focus {
  border-color: #ff6262;
}

.submit-button {
  border-radius: 0.375rem;
  background-color: #ff6262;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ee3131;
}

.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable.MuiDataGrid-columnHeader--sorted.MuiDataGrid-withBorderColor {
  outline-color: #ff6262 !important;
}

.form-input2 {
  width: 100%;
  border-radius: 10px; /* Corresponds to rounded-md in Tailwind */
  border: 1px solid #cbcbcb;
  padding-top: 0.375rem; /* Corresponds to py-1.5 in Tailwind */
  padding-bottom: 0.375rem; /* Corresponds to py-1.5 in Tailwind */
  color: #1a202c; /* Corresponds to text-gray-900 in Tailwind */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* Corresponds to shadow-sm in Tailwind */
  box-sizing: border-box;
  outline: none;
  height: 50px;
  font-size: 0.875rem; /* Corresponds to sm:text-sm in Tailwind */
  line-height: 1.5; /* Corresponds to sm:leading-6 in Tailwind */
  padding-left: 10px;
  padding-right: 10px;
}

.form-input2::placeholder {
  color: #9ca3af;
}

.form-input2:focus {
  border-color: rgb(74, 74, 253);
}

.dropdown {
  cursor: pointer;
}
.Product h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  color: #ff6262;
}

.css-ptkaw2-MuiDataGrid-root {
  height: 400px !important;
}
.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 99999999999 !important;
}

.profile {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #d1181e;
  margin: 10px auto;
  width: 80%;
  display: flex;
  padding: 10px 15px 10px 10px;
  border-radius: 10px;
  justify-content: space-around;
}
.profileImage {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 16px;
  color: red;
  text-align: center;
  line-height: 45px;
}
.profileImage:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: #87ebbd;
  border-radius: 50%;
}

.logoutbutton {
  transition: 3s;
  margin: 0 auto;
}

.logoutbutton:hover {
  cursor: pointer;
}

.col-lg-2-5 {
  width: 19.83%;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

.Import h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  color: #ff6262;
}

.file label {
  margin: 0 auto;
}

.card2 {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 320px;
  border-radius: 20px;
}

.title2 {
  display: flex;
  align-items: center;
}

.title2 span {
  position: relative;
  padding: 0.5rem;
  background-color: #10B981;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
}

.title2 span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  height: 1rem;
}

.title-text2 {
  margin-left: 0.5rem;
  color: #374151;
  font-size: 18px;
}

.percent {
  margin-left: 0.5rem;
  color: #02972f;
  font-weight: 600;
  display: flex;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1F2937;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.data .range {
  position: relative;
  background-color: #E5E7EB;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.data .range .fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10B981;
  width: 76%;
  height: 100%;
  border-radius: 0.25rem;
}

.red2 {
  background: #a83b3b;
  color: #fff;
}

.kpi-card
{
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.75);;
  display: inline-block;
  float: left;
  padding: 1em;
  border-radius: 0.3em;
  font-family: sans-serif;  
  width: 240px;
  min-width: 180px;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.card-value {
  display: block;
  font-size: 200%;  
  font-weight: bolder;
}

.card-text2 {
  display:block;
  font-size: 70%;
  padding-left: 0.2em;
}

.icon2 {  
  float: right;
  font-size:500%;
  position: absolute;
  top:0rem;
  right:-0.3rem;
  opacity: .16;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-top: 10px !important;
  background-color: #DD5951 !important;
}